@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import './main.css';

body {
  justify-content: flex-end;
  align-items: center;
  height: 100svh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--margin-lg);
}

#brand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--br-sm);
  height: 20px;
}

#logo {
  width: 20px;
  height: 20px;
  background: url(feather.png);
}

#brand-name {
  color: var(--text);
  width: 80px;
  height: 22px;
  font-family: 'Sulphur Point';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
  text-align: center;
}

#tagline {
  padding: var(--margin-sm) 0px 0px 0px;
}

#call-to-action {
  height: 120px;
  padding: var(--margin-sm) 0px 0px 0px;
}
